/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: "Open Sans", Helvetica, Arial, "sans-serif";
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
 	--green: #00A200;
    --gray: rgb(91, 88, 88);
    --light-gray: rgba(232, 232, 232, 1);    
    --light-gray-2: rgb(247, 247, 247);
	--dark-wine: #890620;
	--soft-red: #C5283D;
	--soft-orange: #E9724C;
	--yellow: #FFC857;
	--soft-yellow: rgb(255, 207, 112);

}

input, textarea, select {
	padding: 10px;
	font-size: 16px;
	border: 1.5px solid var(--light-gray-2);
	border-radius: 4px;
	background-color: var(--light-gray-2);
}

input:focus, textarea:focus, select:focus {
	border: 1.5px solid var(--light-gray-2);
	outline: none;
}

textarea {
	resize: none;
}

.error-message {
    color: red;
}

.valid {
    border: 1px solid var(--green);
}

.invalid {
    border: 1px solid rgb(224, 47, 47);
}

.invalid:focus {
	border-color: rgb(224, 47, 47);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
